
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Pedidos</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="meus-pedidos.css">
</head>
<body>
    <header>
        </header>

    <main class="container">
        <h2>Meus Pedidos</h2>
        <h2><a href="produtos.html" id="voltar">Voltar</a></h2>
        <div id="orders-list">
            </div>
    </main>

    <script src="/public/scripts/meus-pedidos.js"></script>
</body>
</html>